@page "/books/add"
@inject HttpClient Http
@inject IUriHelper UriHelper

<h3>Add Book</h3>
<NavLink class="nav-link" href="books">
    <span class="oi oi-book" aria-hidden="true"></span> Books
</NavLink>
<EditForm Model="@bookViewModel" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="title">Title:</label>
        <InputText id="title" Class="form-control" @bind-Value="@bookViewModel.Title" />
    </div>

    <div class="form-group">
        <label for="isb">ISBN:</label>
        <InputText id="isbn" Class="form-control" @bind-Value="@bookViewModel.ISBN" />
    </div>

    <div class="form-group">
        <label for="subTitle">Sub Title:</label>
        <InputText id="subTitle" Class="form-control" @bind-Value="@bookViewModel.SubTitle" />
    </div>

    <div class="form-group">
        <label for="numberOfPages">Number of Pages:</label>
        <InputNumber id="numberOfPages" Class="form-control" @bind-Value="@bookViewModel.NumberOfPages" />
    </div>

    <div class="form-group">
        <Autocomplete Collection="Data" Title="Publisher:" AddNewLabel="Add new publisher: " OnItemSelected="@((TempData selectedItem) => PublisherSelected(selectedItem))" OnAddNewItem="@AddNewItem">
            <ItemTemplate Context="DataItem">@DataItem.Id---@DataItem.Name</ItemTemplate>
        </Autocomplete>
     </div>

    @if (!Saving)
    {
        <button class="btn btn-primary" type="submit">Submit</button>
    }
    else
    {
        <button class="btn btn-primary" type="button" disabled><Loading Message="Saving..." InButton="true" />Saving...</button>
    }
</EditForm>

@code {
    private IList<TempData> Data = new List<TempData>
    {
        new TempData { Id = 1, Name = "hi" },
        new TempData { Id = 2, Name = "fred" },
        new TempData { Id = 3, Name = "bye" }
    };
    private AddBookViewModel bookViewModel = new AddBookViewModel();
    private bool Saving = false;

    private async void HandleValidSubmit()
    {
        Saving = true;
        await Http.SendJsonAsync(HttpMethod.Post, "api/book/add", bookViewModel);
        UriHelper.NavigateTo("/books");
    }

    private void PublisherSelected(TempData item)
    {
        bookViewModel.PublisherId = item.Id;
    }

    private void AddNewItem(string newValue)
    {
        bookViewModel.PublisherViewModel = new PublisherViewModel { Name = newValue };
    }

    private class TempData
    {
        public int Id { get; set; }
        public string Name { get; set; }
    }
}
