@page "/books"
@inject HttpClient Http

<h3>Books</h3>
<NavLink class="nav-link" href="book/add"><span class="oi oi-plus" aria-hidden="true"></span> Add Book</NavLink>

@if (AllBooks.Count() == 0)
{
    <p>
        There are no books!
        <NavLink class="nav-link" href="book/add">Add a Book to get started!</NavLink>
    </p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>ISBN</th>
                <th>Sub Title</th>
                <th>Number of Pages</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in AllBooks)
            {
                <tr>
                    <td>@book.Title</td>
                    <td>@book.ISBN</td>
                    <td>@book.SubTitle</td>
                    <td>@book.NumberOfPages</td>
                    <td>
                        <a href="book/@book.Id">Detail</a>
                        <a href="book/edit/@book.Id">Edit</a>
                        <button class="btn btn-link" @onclick="@(e => DisplayConfirmDialog(book.Id))">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <Confirm @ref="confirmDialog" Title="Delete book?" Message="Are you sure you want to delete this book?" OnConfirm="@HandleConfirm" />
}

@code {
    private IList<BookViewModel> AllBooks = new List<BookViewModel>();
    private int BookIdToDelete;
    private Confirm confirmDialog;
    
    protected override async Task OnInitAsync()
    {
        AllBooks = await LoadBooks();
    }

    protected Task<IList<BookViewModel>> LoadBooks()
    {
        return Http.GetJsonAsync<IList<BookViewModel>>("api/sampledata/books");
    }

    protected async Task HandleConfirm(bool performOperation)
    {
        Console.WriteLine(string.Format("Delete? {0}", performOperation));
        if (performOperation)
        {
            Console.WriteLine(string.Format("deleting book {0}", BookIdToDelete));
            await Http.DeleteAsync("api/sampledata/delete/" + BookIdToDelete);
            Console.WriteLine(string.Format("deleted book {0}", BookIdToDelete));
            AllBooks = await LoadBooks();
        }

        Console.WriteLine("Hiding dialog");
        confirmDialog.Hide();
        Console.WriteLine("Dialog hidden");
    }

    protected void DisplayConfirmDialog(int bookId)
    {
        BookIdToDelete = bookId;
        confirmDialog.Show();
    }
}
