@page "/book/edit/{BookId:int}"
@using MediaSet.Shared.ViewModels
@inject HttpClient Http
@inject IUriHelper UriHelper

<h3>Edit Book</h3>
<NavLink class="nav-link" href="books">
    <span class="oi oi-book" aria-hidden="true"></span> Books
</NavLink>
<EditForm Model="@bookViewModel" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <input @bind="@bookViewModel.Id" type="hidden" />
    <p>
        <label for="title">Title:</label>
        <InputText id="title" @bind-Value="@bookViewModel.Title" />
    </p>

    <p>
        <label for="isb">ISBN:</label>
        <InputText id="isbn" @bind-Value="@bookViewModel.ISBN" />
    </p>

    <p>
        <label for="subTitle">Sub Title:</label>
        <InputText id="subTitle" @bind-Value="@bookViewModel.SubTitle" />
    </p>

    <p>
        <label for="numberOfPages">Number of Pages:</label>
        <InputNumber id="numberOfPages" @bind-Value="@bookViewModel.NumberOfPages" />
    </p>

    <button type="submit">Submit</button>
</EditForm>

@code {
    [Parameter]
    private int BookId { get; set; }
    
    private EditBookViewModel bookViewModel = new EditBookViewModel();

    protected async void HandleValidSubmit()
    {
        await Http.SendJsonAsync(HttpMethod.Post, "api/SampleData/Update", bookViewModel);
        UriHelper.NavigateTo("/books");
    }

    protected override async Task OnInitAsync()
    {
        bookViewModel = await Http.GetJsonAsync<EditBookViewModel>("api/SampleData/GetBook/" + BookId);
    }
}
